

@media (min-width:1450px){
    .about {
        min-height:850px;
        margin-bottom:0;
    }
}

@media (min-width:1740px) {
    .about {
        min-height:950px
    }
}


@media (max-width:985px) {

.wrapper {
    max-width:900px;
    width:95%;
    margin:0 auto;
}

header h1{
    font-size:4rem;
}

.neonBody {
    margin-top: 50px;
}

.project {
    display:flex;
    flex-direction: column;

}

.project .projectDescription {
    margin-left:0;
    margin-right:0;
}

.projectFour .projectDescription,
.projectTwo .projectDescription {
    order:2;
}

.projectPhoto {
    margin: 0 auto;
    margin-bottom:50px;
    max-width:53vw;
}
.projectPhoto img {
    width:50vw;
}

}

@media (max-width:760px) {

    .aboutContainer {
        flex-direction:column;
        align-items:center;
        p {
            text-align:center;
        }
    }


    .aboutText {
        margin-left:0;
    }

    .myPhoto {
        margin-top:50px;

    }

    .myself {
        width: 50vw;
        box-shadow:none;
        border: 5px solid $mainColor;
    }
    
}



@media (max-width: 682px) {
    

    //home
    
    header {

        
        background-image:none;
        // background-image: url(../../assets/neon2.jpg);
        background-repeat: no-repeat;
        background-position:center;
        background-size:contain;
        min-height:400px;
        height:600px;
    }

    .topName {
        // margin-top:260px;
        margin-top:100px;
    }

    .about {
        margin-top:50px;
    }

    .skillName i {
        font-size:3rem;
    }
    
    .wrapper {
        max-width: 650px;
        width: 95%;
        margin:0 auto;
    }
    
    .normalMenu {
        display:none;
    }
    
    .burgerMenu,
    .mobile {
        display:unset;
    }
    
    .burgerMenu {
        list-style:none;
        background: linear-gradient(to right, $color2, $mainColor);
        position: fixed;
        z-index: 10;
        width: 30%; 
        left: -30%; 
        top: 0;
        height: 256px;
        transition: all 0.5s; 
    }
    
    .burgerMenu a {
        text-decoration:none;
        text-transform: uppercase;
        font-family:$mainFont;
        color:$black;
        border-bottom: 1px solid $black;
        display: inline-block;
        font-size: 2rem;
        width: 100%;
        padding: 20px;
        transition: all 0.3s; 
    }
    
    .burgerMenu a:hover,
    .burgerMenu a:focus {
        background: #3498db;
    }
    
    .fa {
        font-size:4rem;
    }
    
    
    input[type="checkbox"]:checked + .burgerMenu {
        left: 0;  
    }
    
    // input[type="checkbox"]:checked ~ label.fa {
    // 	font-size:10rem;
    // }
    
    input[type="checkbox"] {
        display: none;  
    }
    
    label[for="toggle"] {
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 10;
        
    }
    
    
    .mainHeader {
        width:100%;
        background-position:-1rem 0rem;
        background-size:110rem 80rem;
        background-repeat:no-repeat;
    }

    .contactBoxContainer {
        flex-direction:column;
        align-items:center;

        .contactBox {
            width:80vw;
        }
    }



    .skillName i{
        font-size:3.5rem;
    }

    .skillName p {
        font-size:1.8rem;
    }

}


@media (max-width:460px){

    .burgerMenu {
        width:40%;
        left:-40%;
    }

    header {
        height:500px;
    }

    .desc{
        display: block;
    }

    .home {
        align-items:center;
    }
    .headerContainer,
    .aboutFlexContainer,
    .border {
        display:flex;
        flex-direction:column;
        align-items: center;

    }
    h2 {
        text-align:center;
    }

    .flexContainer {
        align-items:center;
    }


    div {
        text-align: center;
    }
    

    .wrapper {
        max-width:100vw;
        width:90%;
        margin:0 auto;
    }

    .burgerMenu a {
        font-size:1.8rem;
    }
    .burgerMenu {
        height:unset;
    }

    .button {
        padding: 8px 10px;
    }


    .skillsContainer {
        margin-top:50px;
    }

    .bottom {
        height:120px;
    }

    .skillName {
        padding:10px;
        font-size:2rem;
    }

    .skills {
        margin: 0 auto;
        align-items:center;
    }

    .skills .wrapper {
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .project {
        align-items:center;
        margin: 75px auto;
    }

    .contact {
        width:100%;
    }
    .contactBox p {
        font-size:1.5rem;
    }
}