

body.dark {


    background:white;

    header {
        background-image: none;
        background-color:white;
        
        // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.884)), url(../../assets/vintage-theme-az3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }


    .neonName {

        -webkit-text-stroke: 1.5px $theme2Color3;

        color: $dark;
    }

    .neonBody {

        color:$theme2Color3;

        .neonWelcome{
            color: $theme2Color3;
            border: $theme2Color3 0.5rem solid;
            box-shadow: inset 0 0 2rem 0 $theme2Color3, 0 0 2rem 0 $theme2Color3;
        }

        .neonWelcome::before {
            background:$theme2Color3;
        }

        .neonWelcome::after {
            box-shadow: 0 0 8rem 2rem $theme2Color3;
            background-color: $theme2Color3;
        }

        .neonWelcome:hover,
        .neonWelcome:focus {
            color:$light;
        }
    }

    
    h1 {
        color:$dark;
        -webkit-text-stroke: 1px $theme2Color;
    }

    h2 {
        color:$theme2Color;

        border-bottom: 6px solid $theme2Color;
    }

    h3, h4 {
        color:$dark;
    }

    .amazon {
        font-size:9rem;
        // position:relative;
        // top:-50px;
        height:50px;
        display:block;
        // margin-bottom:50px;
        transform:translateY(-45%);
    }

    p {
        color: $dark;
    }

    .normalMenu a {
        color:$dark;
    }


    .myself {
        width:30vw;
        box-shadow: -12px 12px 0 0 $theme2Color;
    }

    .myself:hover,
    .myself:focus {
    box-shadow: -12px 12px 0 0 $light;
    transition: 500ms ease;
    }

    .links a {
        color: $theme2Color;
        text-shadow: 2px 2px black, 4px 4px $dark;
    }

    a {
        color:$dark;
    }

    a:hover,
    a:focus {
    color:$theme2Color2;
    }


        .skillName {
            color:$theme2Color;
            list-style:none;
            font-family:'Poppins', sans-serif;
            text-align:center;
            margin: 10px auto;
            padding: 20px;
            flex-basis:23%;

            i {
                color: $dark;
                &:hover, &:focus {
                    color:$theme2Color2;
                }
            }

            p{
                background: -webkit-linear-gradient(#28aa72, $theme2Color);

                background-clip: text;
                -webkit-background-clip:text;
                color:transparent;
            }
        }


    
    .skillName i:hover,
    .skillName i:focus{
        color:$theme2Color;

        transition: 500ms ease;
    } 

    .projectPhoto:before {
            background: linear-gradient(to right,$theme2Color3, $theme2Color);
    }

    .contactBox {
        background-color:white;

        border: 5px solid $theme2Color;
    }

    .button {
        color:$light;
        background-color: $theme2Color;
        box-shadow: 2px 2px $light, 4px 4px $theme2Color;
        // border-color:white;

        &:hover, &:focus {
            background-color:$theme2Color2;
            color:$light;

        }
    }


    form input:focus,
    form textarea:focus {
        border: 5px solid $theme2Color2;
    }

    
    footer {
        background-color:$dark;
        p {
            color:$light;
            text-align:center;
        }
    }


    .switch {
        transform: translateX(46px);
    }

    .modeLabel {
        background-color:white;
        color:black;
    }

    .switch {
        background-color:$theme2Color3;
    }

    .burgerMenu {
        background: linear-gradient(to right, $theme2Color, #28aa72);
    }
    
    .burgerMenu a:hover,
    .burgerMenu a:focus {
        background: #26d187;
    }

    .burgerMenuToggle {
        .bar1, .bar2 {
            background-color:black;
        }
    }

}

//light-dark switch

.modeCheck {
        opacity: 0;
        position:absolute;
        left:0;
}

.modeLabel {
    background-color: $dark;
    border: 2px solid $mainColor;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: absolute;
    height: 23px;
    width: 60px;
    transform: scale(1.6);
    top:9px;
    right:610px;
    i {
        font-size:13px;
    }


}


.fa-moon {
    position:relative;
    left:17px;
}

.fa-sun {
    position:relative;
    left:3px;

}

.switch {
    position:relative;
    background-color:$color2;
    border-radius:50px;
    right: 48px;
    height:15px;
    width:15px;
    transform:translateX(13px);
    transition: 0.5s ease;
}
