// $mainFont: 'Karla', sans-serif;
$mainFont: 'poppins', sans-serif;
$secondaryFont: 'Spectral', serif;

$seaGreen: #4CEEA7;

$mainColor: #0393ff;
$color2:#00f2fe;
$color3:#f8f9fa;
$color4:#011627;
$color5:#777777;
$color6:#fcfcfc;

// $theme2Color: #252323;
// $theme2Color2: #1B263B;
// $theme2Color3: #462025;
// $theme2Color4: #E7AF36;
// $theme2Color5: #70798C;
// $theme2Color6: #A39C8F;

$theme2Color: #E7AF36;
$theme2Color2: #252323;
$theme2Color3: #70798C;
$theme2Color4: #A39C8F;
$theme2Color5: #70798C;
$theme2Color6: #A39C8F;

$light:white;
$dark:black;

// $neonBlue: hsl(244, 74%, 48%);
$neonBlue:#0393ff;
$neonBg: hsl(323, 21%, 16%);


// $theme2Color: #E7AF36;
$theme2Color:$seaGreen;
$theme2Color2: #252323;
$theme2Color3: #F61067;
$theme2Color4: #A39C8F;
$theme2Color5: #70798C;
$theme2Color6: #E7AF36;

$Fjalla:'Fjalla One', sans-serif;

$light:white;
$dark:black;