$mainFont: 'Karla', sans-serif;
$secondaryFont: 'Spectral', serif;

$seaGreen: #4CEEA7;
$canary: #FDFA69;
$black: #2C2C2C;
$white: #FAFAFA;
$ice: #EFFDF3;

$mainColor: #0393ff;
$color2:#00f2fe;
$color3:#f8f9fa;
$color4:#011627;
$color5:#777777;
$color6:#fcfcfc;

// $neonBlue: hsl(244, 74%, 48%);
$neonBlue:#0393ff;
$neonBg: hsl(323, 21%, 16%);
